@font-face {
    font-family: LinLibertineS;
    src: /*url("LinLibertine_aS.eot") format("eot"), */
    url("/static/fonts/LinLibertine_aS.woff") format("woff"),
    url("/static/fonts/LinLibertine_aS.ttf") format("truetype"),
    url("/static/fonts/LinLibertine_aS.svg#LinLibertineCapitals") format("svg");
    font-weight:normal;
    font-style:normal;
}
