.logo {
    font-family: LinLibertineS !important;
}

nav .logo {
    font-size: 21px;
}

h1.page-header {
    border-bottom: 1px solid #eee;
    margin: 0.5em 0;
}

.hanging {
    /*text-indent: -1em;*/
}

.row .prev-next {
  line-height: 1.5rem;
  padding: 0.5em;
  //margin: 0 -2en;
}

.inline-list > li > a {
    display: inline;
}

/* necessary for top-bar height */

.top-bar-section input {
    margin-top: 2px;
}

.top-bar-section button {
    margin-top: 2px;
}

.tabs a:hover {
    border-bottom: none;
}