<% @include ../content/template/header.tmpl %>
  <h1 class="page-header">Seite nicht gefunden</h1>
  <p>
    Die angeforderte Seite konnte nicht gefunden werden.<br/>
    <a href="/">Zurück zur Startseite</a>
  </p>
<% @include ../content/template/footer.tmpl %>
