<% @include ../content/template/header.tmpl %>
  <h1 class="page-header">Dieses Dokument existiert nicht</h1>
  <p>
    Das Dokument <strong><% @var id %></strong> existiert nicht.
  </p>
  <p>
    Vielleicht möchten Sie <a href="/create/<% @var id %>">ein neues Dokument anlegen</a>.
  </p>
<% @include ../content/template/footer.tmpl %>
