<% @include ../content/template/header.tmpl %>
    <h1 class="page-header">Suchergebnisse</h1>
    <% @if results %>
    <ul class="list-unstyled">
      <% @loop results %>
      <li><% @var this %></li>
      <% @endloop %>
    </ul>
    <% @else %>
    <p>
      Keine Ergebnisse gefunden!<br>
      <a href="/">Zurück zur Startseite</a>
    </p>
    <% @endif %>
<% @include ../content/template/footer.tmpl %>
